<% var apellido = 'Eguez' %>
<!--h1 ->Header 1-->
<h1><%= nombre %><%= apellido %></h1>
<!-- p -> parrafo -->
<p>Parrafo</p>
<h2>Arreglo</h2>

<!-- ul -> unordered list -->
<!-- ol -> ordered list -->
<ul>
    <!-- li -> list item -->
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>

<ul>
<% //arreglo.forEach((numero)=>{ %>
        <li><%//= numero %></li>
<% //}) %>
</ul>

<style>
    <!--estilos-->
    <!--estilos-->
    <!--estilos-->
    <!--estilos-->

</style>

<% arreglo.forEach((usuario)=>{ %>
<tr>
    <button></button>
    <!-- td -> table detail -->
    <td><%= usuario.id%></td>}
    <td><%= usuario.nombre%></td>
    <td><button>Eliminar</button>></td>
    <td><form action="/Usuario/"></td>
</tr>
<% }) %>